###### Requirements without Version Specifiers ######
flask
Flask-SQLAlchemy
flask-marshmallow
marshmallow-sqlalchemy

###### Refer to other requirements ######
# -e git+https://github.com/brianteachman/csvdb.git#egg=csvdm-tws
